/*GLOBALES*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;   
    color: black;
    font-family: "Poppins", sans-serif;
}
li{
    text-decoration: none;   
    list-style: none;
    display: block;
    margin: auto;
}
a:hover{
    color: red;
}
.nav-link:hover{
    color: blue;
}
h1{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 2%;
    font-weight: 600;
    font-style:italic;
}
h2{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 2%;
    font-weight: 400;
    font-style:italic;
}
h3{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 2%;
    font-weight: 400;
    font-style:italic;
}
p{
    text-align: center;
    font-weight: 200;
    font-style:italic;
    font-family: "Poppins", sans-serif;
}
body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: "Poppins", sans-serif;
}
  header {
    padding: 2rem;
  }  
.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
label{
    text-align: center;
    display: block;
}
input{
  border-color: #000;
  border-radius: 3%;
  border-style: solid;
  width: 90%;
  height: 30px;
  margin: .5rem
}
.form-button{
    padding: .5em 1em;
    border:none;
    background: rgb(100,200,255);
    cursor: pointer;
}
.form-button:hover{
    box-shadow: 2px 2px black;
    background-color: #4bf14252;

    }
.logo{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}
.encabezado{
    background-color: rgba(185, 226, 255, 0.73);
}
.navbar{
    background-color: rgba(159, 186, 205, 0.73) !important;
}
/*Encabezado */
.background{
    background-image: url("./assets/img/backgroung.jpg");
}
.textoencabezado{
    text-shadow: 2px 2px black;
    color: white;
    font-size: larger;
    font-weight: 600;
}   
.tituloencabezado{
    color: white;
    text-shadow: 2px 3px black;
}
/* INDEX */

.galeria {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
 } 

.div-imagen{
    height: 30%;
    width: 30%;
    margin: auto;
    display: block;
}

.divs-button{
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 200px;
    background-color: #8cdef852;
    color: black;
    font-size: medium;
    font-family: cursive;
}
.divs-button:hover{
box-shadow: 2px 2px black;
background-color: #6396a552;
font-size: smaller;
}
.card:hover{
    box-shadow: 2px 2px black;
    background-color: #d5d5d552;
    font-size:medium;
    }


/* Galeria */

.centro{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
/* Contacto*/
.contenedor{
    margin:0 auto;
    display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  .flex-item{
    border:1px solid black;
    width: 100%;
    text-align: center;
    .maps{
        width: 50%;
        height: 50%;
    }
}
}
